@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: black;
    border-radius: 4px;
}

.active{
    border: 2px solid black;
}

input[type = 'checkbox']{
    accent-color: black;
}

.aside::-webkit-scrollbar{
  display: none;
}
